
    /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
/*  */
/* @media (max-width: 634px) {
  .carousel-item{
    height: 10vh;
}
} */
.video-background-holder {
  position: relative;
  background-color: rgb(0, 0, 0);
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(249, 253, 255);
  opacity: 0.5;
  z-index: 1;
}


code {
  padding: 0 0.15rem;
  background: #ffffff;
  border-radius: 0.2rem;
}

h1, p{
    color: black;
}
.carousel-item{
    height: 40vh;
}


/* header logo */
.text {
    text-shadow: 1px 1px #d43a3a;
    color: #FD4766;
    font-size:20px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
.animated {
    animation-duration: 2.5s;
    
    animation-iteration-count: 1;
  }
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
  .bounce {
    animation-name: bounce;
  }
 
/* for welcome */
  h3{
      font-size: 44px;
color: #000000;
    
  }

  .lineUp {
    animation: 5s anim-lineUp ease-out 2;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
/* for career dandrogram */

  h1{
      font-size: 54px;
  }
  .animate-charcter
  {
    background-image: linear-gradient(
      -225deg,
      #ff1e00 0%,
    #7904ff 39%,
    #00ff40 67%,
    #f55c71 100%
    );
    
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  /* for text below carreer dendro */
  .mb-0, .my-0 {
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
  }

/* login */


